.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
businessLayer/obj
businessLayer/bin
ConsoleApp/obj
ConsoleApp/bin
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/HelloWorldSln/v17/TestStore/0/testlog.manifest
/.vs/HelloWorldSln/v17/TestStore/0/000.testlog
/.vs/HelloWorldSln/v17/TestStore/0
/.vs/HelloWorldSln/v17/.suo
/.vs/HelloWorldSln/v17/.futdcache.v1
/.vs/HelloWorldSln/v17
/.vs/HelloWorldSln/project-colors.json
/.vs/HelloWorldSln/DesignTimeBuild/.dtbcache.v2
/.vs/HelloWorldSln/DesignTimeBuild
/.vs/HelloWorldSln
/.vs/Demo/v17/TestStore/0/testlog.manifest
/.vs/Demo/v17/TestStore/0/000.testlog
/.vs/Demo/v17/TestStore/0
/.vs/Demo/v17/.suo
/.vs/Demo/v17
/.vs
